@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ui-box-corners {
    @apply overflow-hidden relative p-12;
  }

  .ui-box-corners::after {
    content: '';
    @apply w-full h-full -left-2 -top-2 p-1 absolute border border-white border-opacity-60 block box-content rounded-18 pointer-events-none select-none;
  }

  .ui-link {
    @apply outline-none text-white text-opacity-60 transition-colors duration-300 ease-out hover:ease-in;
  }

  .ui-link.router-link-exact-active, .ui-link:hover {
    @apply text-opacity-100
  }
}

html, body {
  height: 100%;
  background-color: #000;

  @apply font-body text-white;
}

#app {
  display: contents;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
  transform-origin: center center;
}

.fade-enter-active, .fade-leave-to {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

/**
 * Ui page spacing [BEGIN]
 */
 body {
  --ui-page-spacing: 64px;
  --ui-page-right-spacing-with-right-buttons: calc(var(--ui-page-spacing) * 2 + 50px)
}

@media only screen and (max-width: 1900px) {
  body {
    --ui-page-spacing: 40px;
  }
}

@media only screen and (max-width: 1360px) {
  body {
    --ui-page-spacing: 32px;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    --ui-page-spacing: 24px;
  }
}

@media only screen and (max-width: 800px) {
  body {
    --ui-page-spacing: 18px;
  }
}

@media only screen and (max-width: 400px) {
  body {
    --ui-page-spacing: 12px;
  }
}

@media only screen and (max-width: 320px) {
  body {
    --ui-page-spacing: 8px;
  }
}

.ui-page-spacing-left,
.ui-page-spacing-both {
  padding-left: var(--ui-page-spacing);
}

.ui-page-spacing-right,
.ui-page-spacing-both {
  padding-right: var(--ui-page-spacing);
}
/**
 * Ui page spacing [END]
 */